<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}用户画像查询系统{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/portrait.css')}}">
    <style type="text/css">
        h1{font-family:微软雅黑;font-weight: bold;font-size: 40px;color: #ff00de; margin-top: 100px;margin-left: 150px;}
        h3{font-family:微软雅黑;font-weight: bold;font-size: 40px;color: rgba(0, 0, 0, 0.50);margin-left: 150px;}
    </style>
{% endblock %}

{% block main %}
{#      <div class="beijing"> <img src="{{ url_for('static', filename='images/背景.png') }}" alt="背景图片"></div>#}
      <!--查询框-->
      <form method="POST">
          <div class="chaxunk">
             <input type="text" name="client_id" placeholder="用户id..">
             <button type="submit" class="button">生成画像</button>
          </div>
      </form>
      <h1>请输入待查询用户的id</h1>
      <h3>本系统保留了用户近一个月的访问记录</h3>
{% endblock %}