{#<!DOCTYPE html>#}
{#{% extends 'base.html' %}#}
{##}
{#{% block title %}用户异常{% endblock %}#}
{##}
{#{% block head %}#}
{#    <link rel="stylesheet" href="{{ url_for('static',filename='css/portrait.css')}}">#}
{#    <style type="text/css">#}
{#        h2{font-family:微软雅黑;font-weight: bold;font-size: 40px;color: #ff00de; margin-top: 100px;margin-left: 150px;}#}
{#        h3{font-family:微软雅黑;font-weight: bold;font-size: 40px;color: rgba(0, 0, 0, 0.50); margin-left: 150px;}#}
{#    </style>#}
{#{% endblock %}#}
{##}
{#{% block main %}#}
{#      <!--查询框-->#}
{#      <form method="POST">#}
{#          <div class="chaxunk">#}
{#             <input type="text" name="client_id" placeholder="用户id..">#}
{#             <button type="submit" class="button">生成画像</button>#}
{#          </div>#}
{#      </form>#}
{#      <h2>对不起，本小区无该用户信息！</h2>#}
{#      <h3>请确认输入用户名id是否正确</h3>#}
{#{% endblock %}#}